<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="filters container">
  Position:

  <button type="submit" (click)="this.filter('QB')" class="btn" [ngClass]="{'btn-primary': this.filter_value == 'QB', 'btn-outline-primary': this.filter_value != 'QB'}">QB</button>

  <button type="submit" (click)="this.filter('WR')" class="btn" [ngClass]="{'btn-primary': this.filter_value == 'WR', 'btn-outline-primary': this.filter_value != 'WR'}">WR</button>

  <button type="submit" (click)="this.filter('RB')" class="btn" [ngClass]="{'btn-primary': this.filter_value == 'RB', 'btn-outline-primary': this.filter_value != 'RB'}">RB</button>

  <button type="submit" (click)="this.filter('TE')" class="btn" [ngClass]="{'btn-primary': this.filter_value == 'TE', 'btn-outline-primary': this.filter_value != 'TE'}">TE</button>

  <button type="submit" (click)="this.filter('DEF')" class="btn" [ngClass]="{'btn-primary': this.filter_value == 'DEF', 'btn-outline-primary': this.filter_value != 'DEF'}">DEF</button>

  <button type="submit" (click)="this.filter('K')" class="btn" [ngClass]="{'btn-primary': this.filter_value == 'K', 'btn-outline-primary': this.filter_value != 'K'}">K</button>
</div>

<table class="table table-striped table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">
        <button (click)='this.sort_first()' type="button" class="btn btn-primary" [ngClass]="{'ffd-sort': this.sort_value == 'First'}">First</button>
      </th>
      <th scope="col">
        <button (click)='this.sort_last()' type="button" class="btn btn-primary" [ngClass]="{'ffd-sort': this.sort_value == 'Last'}">Last</button>
      </th>
      <th scope="col">
        <button (click)='this.sort_pos()' type="button" class="btn btn-primary" [ngClass]="{'ffd-sort': this.sort_value == 'Position'}">Position</button>
      </th>
      <th scope="col">
        <button (click)='this.sort_team()' type="button" class="btn btn-primary" [ngClass]="{'ffd-sort': this.sort_value == 'Team'}">Team</button>
      </th>
      <th scope="col">
        <button (click)='this.sort_proj_ppg()' type="button" class="btn btn-primary" [ngClass]="{'ffd-sort': this.sort_value == 'proj_ppg'}">Projected Points per Game</button>
      </th>
      <th scope="col">
        <button (click)='this.sort_risk()' type="button" class="btn btn-primary" [ngClass]="{'ffd-sort': this.sort_value == 'Risk'}">Risk</button>
      </th>
      <th scope="col">
        <button (click)='this.sort_pos_value()' type="button" class="btn btn-primary" [ngClass]="{'ffd-sort': this.sort_value == 'pos_value'}">Positional Value</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{player.first}}</td>
      <td>{{ player.last }} </td>
      <td>{{ player.pos }}</td>
      <td>{{ player.team }}</td>
      <td>{{ player.proj_ppg }} </td>
      <td>{{ player.risk }}</td>
      <td>{{ player.pos_value }}</td>
    </tr>
  </tbody>
</table>


<input id="file-upload" 
type="file" 
accept=".json" 
(change)="fileUpload($event)">
 
<textarea *ngIf="this.fileText" rows="4" cols="50">
  {{fileText[0]}}
  {{fileText[1]}}
  {{fileText[2]}}
</textarea>
